.badge {
	margin-left: 20px;
	padding: 0 6px;
	min-width: 45px;
	border-radius: 2px;
	background-color: $mui-primary-color;
	color: $mui-text-light;
	text-align: center;
	font-size: 12px;
	line-height: 22.5px;
}
