.playlist-container

	.matxd-list-item.matxd-sm(ng-if='playlist.getListItems().length == 0')
		p.matxd-list-text-primary No items found.

	.matxd-list-item.matxd-sm(
		ng-repeat='item in playlist.getListItems()',
		ng-click='null'
	)
		.matxd-avatar
		.matxd-list-item-text
			p.matxd-list-text-primary(ng-bind='item.name')
			p(ng-bind='item.url')
