<!DOCTYPE html>
<html ng-csp>
<head>
	<title>Playlist Tracker</title>

	<script type="text/javascript" src="bower_components/mui/packages/cdn/js/mui.min.js"></script>
	<script type="text/javascript" src="js/libs.js"></script>

	<link rel="stylesheet" type="text/css" href="bower_components/mui/packages/cdn/css/mui.min.css">
</head>
<body ng-controller="PlaylistController as playlist">
	<h1>Playlist Tracker</h1>

	<div ng-click="playlist.addItem()">
		+ Item
	</div>
	<div id="playlist-container">
		<div ng-repeat="item in playlist.listItems">
			<div ng-click="playlist.editItem(item)">{{ item.id }} | {{ item.name }} | {{ item.url }}</div>
		</div>
	</div>

	<playlist-item-form item="playlist.selectedItem" />

	<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>
