doctype html
html(ng-csp='')
	head
		title Playlist Tracker

		script(type='text/javascript', src='js/libs.js')
		script(type='text/javascript', src='bower_components/angular/angular.js')
		script(type='text/javascript', src='bower_components/mui/packages/cdn/angular/mui-angular.min.js')

		link(rel='stylesheet', type='text/css', href='bower_components/reset-css/reset.css')
		link(rel='stylesheet', type='text/css', href='bower_components/mui/packages/cdn/css/mui.min.css')
		link(rel='stylesheet', type='text/css', href='bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body(ng-controller='PlaylistController as playlist')
		.container(layout='column')
			ng-include(src='"templates/appbar.html"')
			ng-include(
				src='"templates/playlist_display.html"',
				ng-if='playlist.visiblePlaylist'
			)
			.content-container(ng-if='playlist.visibleSeriesForm', layout-padding)
				playlist-item-form(item='playlist.selectedItem')

		script(type='text/javascript', src='js/bundle.js')
