@import './../../deploy/bower_components/mui/src/sass/mui/_colors.scss';

$mui-primary-color: #1F4A66;
$mui-primary-color-dark: #112837;
$mui-primary-color-light: #6FABD3;

$mui-accent-color: #2AD3D1;
$mui-accent-color-dark: #1B8785;
$mui-accent-color-light: #ADEFEE;

$mui-input-font-size: 14px;
$mui-form-group-margin-bottom: 15px;
$mui-input-height: 20px;

@import './../../deploy/bower_components/mui/src/sass/mui';


$colors-white-shadow: #C4C7DA;
